/**
 * Minimal CSS Reset
 * Students: Create your own stylesheet for visual styling
 */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**
this is a change, testing commit since I was having some issues. 
*/